.content-testimonials{

    display: flex;
    width: 80%;
    height:auto;
    justify-content: center;
    flex-wrap: wrap;
}


.testimonials-card{

    width: 170px;
    height: auto;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-left: 20px;
    -webkit-box-shadow: -9px 10px 24px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: -9px 10px 24px 0px rgba(0,0,0,0.57);
    box-shadow: -9px 10px 24px 0px rgba(0,0,0,0.57);
    margin-bottom: 10px;
}

.hover-effect-testimonials:hover{
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5)
}

.group-testimonials{

    display: flex;
    justify-content: space-between; 
}

.img-testimonials img{

    width: 80px;
    margin-left: 5px;
    margin-top: 5px;     
}

.img-testimonials img{

    border-radius: 50%;  
}

.title-testimonials{

    display: flex;
    margin-right:20px ;
    font-size: 15px;
    align-items: center;
}

.title-badge-testimonials{

    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: auto;
    margin-right: 10px;
}

.testimonial-text{

    display: flex;
    justify-content: left;
    font-size: 10px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 15px;
    margin-top: -15px;
}

.company-testimonials{

    display: flex;
    font-size: 15px;
    justify-content: center;
    flex-wrap: wrap;
}

.link-company{

    cursor: pointer;
    text-decoration: none;
    margin-left: 4px;
}

.email-testimonials{

    display: flex;
    font-size: 10px;
    justify-content: center;
    color: #1F2179;
    font-weight: bold;
}


p.clasificacion {

    position: relative;
    overflow: hidden;
    display: inline-block;
    margin-left: 25%; 
}
  
p.clasificacion input {
    position: absolute;
    top: -100px;
}

p.clasificacion label {
    display: inline;
    color: #333;
}
  

p.clasificacion label.checked {
    color: #dd4;
}    

.vip_on{

    border: 2px solid yellow;    
}

.taxonomy-teams{

    font-family: 'Courier New', Courier, monospace;
    font-size: 9px;
    margin-top: -20px;
    margin-bottom: 30px;
    text-align: center;
    
}

