.div-button-box {

    display: flex;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 3px;
    justify-content: center;


}

.modal-contenido{
    background-color:rgb(165, 26, 26);
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }

.modal{
    display: none; 
    pointer-events: none;
} 

.link-pop{

    color: white;
}

#modalInfo:target{

    display: inline;
    pointer-events: auto;
}

#cross{
    font-size: 25px;
    color: black;
}

.title-widgets{

    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.last-post{

    text-decoration: none;
}