.myButton {
    background-color: #448a85;
    border-radius: 42px;
    border: 1px solid #fcfcfc;
    display: flex;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 10px;
    padding: 16px 31px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}

.myButton:hover {
    background-color: #ccdbc5;
}

.myButton:active {
    position: relative;
    top: 1px;
}

input.search_ticket_number {
    width: 84.5%;
    float: left;
}

.yith_wcevti_check_in {
    float: left;
    margin: 1em 0;
    width: 100%;
}

.yith_wcevti_check_in>form>.dialog_panel {
    background: rgb(68, 138, 133);
    width: 100%;
    height: 80px;
    margin-top: 10px;
}

.yith_wcevti_check_in .dialog_panel>.message {
    padding: 1em 0.5em;
    float: left;
    color: inherit;
    font-size: larger;
    width: 90%;
    color: #ffffff;
}

.yith_wcevti_check_in .search_ticket_button {
    margin-top: 15px;
    margin-right: 0px;
    padding: 0.8em 1.5em 0.7em;
}

.list_header_panel {
    width: 100%;
    float: left;
    line-height: 3.5em;
    border-bottom: 1px solid #ccc;
}

.ticket_status {
    width: 7%;
    margin: 0;
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    text-align: center;
}

.list_colum {
    float: left;
    margin-left: 0.5em;
}

.enable_automatic {
    float: right;
}

.ticket_status_icon_header {
    vertical-align: initial;
}

.ticket_status_icon {
    vertical-align: initial;
}

.list_colum.row_actions {
    float: right;
    margin-right: 20px;
}

.list_colum.ticket_id {
    float: left;
}

.yith-amet-check-event-ticket-button {

    cursor: pointer;
    font-size: 25px;
    color: #a3a3a3;
}


.yith-amet-check-event-ticket-button:hover {
    color: #448a85;
}

.yith-amet-check-event-ticket-dropdown {

    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;
}


.list_row_panel {
    width: 100%;
    float: left;
    background-color: white;
    border-bottom: 1px solid #F0F0F0;
}

.row_header {
    float: left;
    width: 100%;
    margin: 0.75em 0;
}

.dashicons-update-alt  {
    color: #16B019 !important;
}