.yith-amet-table-panel {
    display: flex;
    justify-content: space-between;
}

.yith-amet-header-table-panel {
    text-align: center !important;
}

.yith-amet-header-table-panel-required {
    text-align: right !important;
}

.form-field input[type="text"] {
    border-style: solid;
    border-width: 1px;
    width: 100% !important;
}

.Actions .dashicons {
    border: 1px solid #203685;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
    color: #203685;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
}

.Check > .dashicons-thumbs-up {
    color: #178CCB !important;
}

.dashicons-update-alt  {
    color: #16B019 !important;
}


/* POP UP*/

#popup {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}
 
.content-popup {
    margin:0px auto;
    margin-top:120px;
    position:relative;
    padding:10px;
    width:500px;
    min-height:250px;
    border-radius:4px;
    background-color:#FFFFFF;
    box-shadow: 0 2px 5px #666666;
}
 
.content-popup h2 {
    color:#48484B;
    border-bottom: 1px solid #48484B;
    margin-top: 0;
    padding-bottom: 4px;
}
 
.popup-overlay {
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
    display:none;
    background-color: #777777;
    cursor: pointer;
    opacity: 0.7;
}
 
.close {
    position: absolute;
    right: 15px;
}