/* Mostramos el boton que nos interesa */
.yith-test-plugin-custom-field-container .submit .button-primary {
    display: inline-block !important;
}
/* Hide default buttons of PRODUCT MESSAGE LIST tab */

#plugin-fw-wc-reset .button-secondary {
    display: none  !important;
}
#plugin-fw-wc .submit .button-primary {
    display: none !important;
}


input.yith-ampmhp-button-back-to-product-list.button-secondary {
    margin-right: 10px;

}

