 h1.wp-heading-inline {
     display: none !important;
 }

 a.page-title-action {
     display: none !important;
 }

 .yith-ypmhp-form-field {
     position: relative;
     padding: 0 0 0 50px !important;
     margin: 30px 0;
     font-size: 12px;
     line-height: 24px;
 }

 .yith-ypmhp-form-field label {
     width: 140px !important;
     float: left;
     margin-right: 20px;
     text-align: initial;
     font-weight: 700;
     font-size: 14px;
 }

 .yith-ypmhp-form-field .yith-ypmhp-form-field__description {
     display: block;
     padding: 0;
     font-size: 13px;
     font-style: normal;
     clear: both;
     line-height: 1.4em;
     margin-top: 5px;
     color: #777;
     margin-left: 162px;
 }

 .yith-ypmhp-form-field__container {
     float: left;
     width: 100%;
 }

 /* .yith-plugin-fw-field-wrapper input {
    width: 100% !important;
} */

 .submit {
     display: flex;
 }

 input#doaction {
     margin-bottom: 10px;
     margin-top: 10px;
     width: 35% !important;
 }

 input#doaction2 {
     margin-bottom: 10px;
     margin-top: 10px;
     width: 35% !important;
 }

 .yith-plugin-fw-select2-wrapper {
     width: auto;
 }

 .yith-plugin-ui .yith-add-box-row .yith-plugin-fw-field-wrapper:not(.yith-plugin-fw-title-field-wrapper), .yith-plugin-ui .yith-plugin-fw-field-wrapper:not(.yith-plugin-fw-title-field-wrapper) {
    display: table-cell;
    width: auto;
    float: none;
    vertical-align: middle;
    position: relative;
}