.yith-ampn-form-field {
    position: relative;
    padding: 0 0 0 160px !important;
    margin: 30px 0;
    font-size: 12px;
    line-height: 24px;
}

.yith-ampn-form-field label {
    width: 140px !important;
}

h3.yith-am-title-purchase-note-tab {
    margin-left: 10px;
}

.yith-ampn-form-field .yith-ampn-form-field__description {
    display: block;
    padding: 0;
    font-size: 12px;
    font-style: italic;
    clear: both;
    line-height: 1.4em;
    margin-top: 5px;
    color: #777;
}

.yith-ampn-form-field__container {
    float: left;
    width: 200px;
    /* margin-left: 150px;  */
}

.yith-plugin-fw-field-wrapper input {
    width: 100% !important;
}

.yith-plugin-fw-radio__row label {
    padding-bottom: 20px;
    margin-left: 30px;
    margin: 0px auto;
}

.yith-plugin-ui [type="radio"]:checked+label, .yith-plugin-ui [type="radio"]:not(:checked)+label {
    position: relative;
    padding-left: 35px;
    padding-bottom: 10px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #716269;
    font-size: 14px;
    margin: 0px auto;
    /*Añadido para el radio*/
}

textarea#_yith_ampn_textarea {
    width: 300px;
    max-width: 300px;
    max-height: 400px;
    min-height: 100px;
}

.yith-ampn-form-field .wp-picker-container label {
    width: 100%;
    height: auto;
    margin: 0 !important;
    width: fit-content !important;
}
