@font-face {
    font-family: 'yith-icon';
    src:  url('../fonts/yith-icon.eot?tkn99p');
    src:  url('../fonts/yith-icon.eot?tkn99p#iefix') format('embedded-opentype'),
    url('../fonts/yith-icon.ttf?tkn99p') format('truetype'),
    url('../fonts/yith-icon.woff?tkn99p') format('woff'),
    url('../fonts/yith-icon.svg?tkn99p#yith-icon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="yith-icon-"], [class*=" yith-icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'yith-icon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.yith-icon-paypal-svgrepo-com:before {
    content: "\e91b";
}
.yith-icon-check-circle:before {
    content: "\e921";
    color: #757575;
}
.yith-icon-info-squared:before {
    content: "\e922";
    color: #757575;
}
.yith-icon-warning-triangle:before {
    content: "\e923";
    color: #757575;
}
.yith-icon-bank:before {
    content: "\e91c";
}
.yith-icon-accounting:before {
    content: "\e91d";
}
.yith-icon-bank-check:before {
    content: "\e91e";
}
.yith-icon-cash:before {
    content: "\e91f";
}
.yith-icon-credit-card:before {
    content: "\e920";
}
.yith-icon-yith:before {
    content: "\e924";
}
.yith-icon-calendar_add:before {
    content: "\e913";
    color: #757575;
}
.yith-icon-calendar_money:before {
    content: "\e914";
    color: #757575;
}
.yith-icon-calendar2:before {
    content: "\e915";
    color: #757575;
}
.yith-icon-people:before {
    content: "\e916";
    color: #757575;
}
.yith-icon-shield_money:before {
    content: "\e917";
    color: #757575;
}
.yith-icon-time_check:before {
    content: "\e918";
    color: #757575;
}
.yith-icon-world_settings:before {
    content: "\e919";
    color: #757575;
}
.yith-icon-arrow_eye_closed:before {
    content: "\e912";
    color: #757575;
}
.yith-icon-arrow_eye:before {
    content: "\e911";
    color: #757575;
}
.yith-icon-reset:before {
    content: "\e910";
    color: #757575;
}
.yith-icon-drag:before {
    content: "\e90f";
    color: #757575;
}
.yith-icon-trash:before {
    content: "\e90d";
    color: #757575;
}
.yith-icon-info:before {
    content: "\e90e";
    color: #757575;
}
.yith-icon-arrow_down:before {
    content: "\e900";
    color: #757575;
}
.yith-icon-arrow_left:before {
    content: "\e901";
    color: #757575;
}
.yith-icon-arrow_right:before {
    content: "\e902";
    color: #757575;
}
.yith-icon-arrow_up:before {
    content: "\e903";
    color: #757575;
}
.yith-icon-calendar:before {
    content: "\e904";
    color: #757575;
}
.yith-icon-check:before {
    content: "\e905";
    color: #757575;
}
.yith-icon-close:before {
    content: "\e906";
    color: #757575;
}
.yith-icon-edit:before {
    content: "\e907";
    color: #757575;
}
.yith-icon-magnifier:before {
    content: "\e908";
    color: #757575;
}
.yith-icon-pencil:before {
    content: "\e909";
    color: #757575;
}
.yith-icon-plus:before {
    content: "\e90a";
    color: #757575;
}
.yith-icon-update:before {
    content: "\e90b";
    color: #757575;
}
.yith-icon-upload:before {
    content: "\e90c";
    color: #757575;
}
.yith-icon-reply:before {
    content: "\e91a";
}
