.yith-ampa-addon-frontend{
    margin-top: 30px;
}

.yith-ampa-input-text-frontend {

   width: 100% !important;
}

.yith-ampa-addon-name{
    margin-bottom: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.yith-ampa-addon-description{
    margin-bottom: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.yith-ampa-addon-field-type{

    margin-bottom: 10px;
}


/* Estilo de checkbox */

.switch-new {
    position: relative;
    display: inline-block;
    width: 55px !important;
    height: 28px;
    margin-left: -10px !important;
 }
 .switch-new input {
    opacity: 0;
    width: 0;
    height: 0;
 }
 .round-new {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
 }
 .round-new:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  
 }
 input:checked + .round-new {
    background-color: #007cba;
 }
 /* input:focus + .round-new {
    box-shadow: 0 0 1px rgb(255, 77, 211);
 } */
 input:checked + .round-new:before {
    transform: translateX(26px);
 }
 span.round-new {
    border-radius: 34px;
 }
 span.round-new:before {
    border-radius: 50%;
 }

.yith-ampa-input-checkbox-frontend{

   width: auto !important;
}

.yith-ampa-radio-addons-frontend{

   display: flex;
   justify-content: center;
}