.price-totals-summary{
    background-color: #FAE8E6; 
    width: 400px;
    margin-bottom: 40px;
    margin-top: 30px;
}

.title-summary{
    margin-left: 10px;

    margin-bottom: 20px;
}

.product-price{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.additional-options-price{
    display: flex;
    justify-content:space-between;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.total-price{
    display: flex;
    justify-content:space-between;
    margin-left: 10px;
    margin-right: 10px;
}

.title-price-style{
    font-size: small;
}

.number-price-style{
    color:#D13A28 ;
    font-size: x-large;
}