.hidden-addons-default{
   display: none;
}


.yith-ampa-addons-head {

    display: flex;
    justify-items: center;
    margin-top: 5px;
    margin-bottom: 5px;

}
.yith-ampa-title-addons{
    cursor: pointer;
    font-size: 20px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.yith-ampa-addons-template-border {
    width: 800px ;
    height: auto;
    border: 1px solid #8A9388;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 30px;
}

.div-button-addons {
    margin-top: 20px;
    margin-left: 20px;
}

.yith-ampa-checkbox {

    margin-left: auto;

}


/* Estilo de checkbox */

.switch-new {
    position: relative;
    display: inline-block;
    width: 55px !important;
    height: 28px;
    margin-left: -10px !important;
 }
 .switch-new input {
    opacity: 0;
    width: 0;
    height: 0;
 }
 .round-new {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
 }
 .round-new:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  
 }
 input:checked + .round-new {
    background-color: #007cba;
 }

 input:checked + .round-new:before {
    transform: translateX(26px);
 }
 span.round-new {
    border-radius: 34px;
 }
 span.round-new:before {
    border-radius: 50%;
 }


.yith-option-name{
   width: 150px !important;
}
.yith-option-price{
   width: 150px !important;
   margin-left: 20px !important;
}

.yith-ampa-new-option{

   margin-left: 165px;
   cursor: pointer;
}

.yith-ampa-struct-options{

   display: flex;
   margin-left: 160px;
   margin-block: 10px;
}

.yith-ampa-icon-trash{
   color: #007cba;
   cursor: pointer;
   margin-left: 5px;
}

.yith-ampa-enable-default-base{
   display: flex;
}

.yith-ampa-remove-button-class{
   display: flex;
   justify-content: flex-end;
   margin-right: 10px;
   margin-bottom: 10px;
}

.yith-ampa-button-remove-addon{

   background: #B0B0B0 !important;
   border-color: #8A9388 !important;
   color:black !important;
}
/****************************************************************************************
