.div-user-no-exist{
    
    width: 300px !important;
    height: 55px;
    background-color: #5ACE41 ;
    border: 2px solid rgba(118, 102, 102, 0.179);
    border-radius: 4px;
}
.text-user-no-exist{

    color: white;
    font-size: 18px;
    text-align: center;
}

.div-user-exist{
    
    width: 300px !important;
    height: 30px;
    background-color: #c21241 ;
    border: 2px solid rgba(118, 102, 102, 0.179);
    border-radius: 4px;
}
.text-user-exist{

    color: white;
    font-size: 18px;
    text-align: center;
}